.container{
    border: 1px solid #e1e1e1;
    max-width: 414px;
    padding: 2em 1em;
    gap: 0.7em;
}
.status{
    border: 1px solid #4431B8;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: rgba(68, 49, 184, 0.06);
    color: #4431B8;
    font-size: 8px;
}