.container{
    padding: 1em 0;
    width: 100%;
    gap: 1em;
}
@media screen and (min-width:668px) {
    .container{
        padding: 1em 3em;
    }
}
.main_container{
    width: 100%;
}
.main_container, .helper_container{
    padding: 1.5em 1em;
}
@media screen and (min-width:750px) {
    .main_container{
        width: 65%;
    }
    .helper_container{
        min-width: 210px;
        height: fit-content;
    }
}
.preferred_container{
    padding: 1.5em;
    background-color: var(--light);
}
.save_btn_container{
    justify-content: end;
    padding-top: 1em;
}
.bg_little_dark{
    background: rgb(224, 222, 222) !important;
}
.sub_dark_title{
    font-size: var(--sub-title);
}
