.hidden{
    width: 0% !important;
    overflow: hidden !important;
}
.drawer{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    background-color: white;
    overflow-x: visible;
    transition: width 0.3s linear;
    z-index: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (min-width:750px) {
    .drawer{
        width: 40vw;
    }
}
.inner_main{
    padding: 1.5em;
    position: sticky;
    top: 0;
}
.tab_panel_container{
    display: flex;
    overflow-x: scroll;
}
.container{
    padding: 2em 0;
}
.close_button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1em;
    left: -2.2em;
    cursor: pointer;
    background-color: rgba(195, 199, 255, 0.66);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 2px 2px 5px #b5b5b5;
}