.container{
    width: 100vw;
    min-height: 100vh;
}
.main{
    border: 1px solid rgba(215, 213, 213, 0.84);
    width: 100%;
    max-width: 430px;
    padding: 0 1em 3em 1em;
}
@media screen and (min-width:668px) {
    .main{
        width: 50%;
    }
}
.singin_btn{
    background-color: #3c44b1 !important;
    color: white !important;
}
.singin_btn:hover{
    background-color: #5259c5 !important;
}