/* ===sidebar===  */
.side-container{
    display: none;
  }
  @media screen and (min-width:668px) {
    .side-container{
      display: flex;
      width: 15em;
    }
  }
  .sidebar{
    background-color: var(--light);
    min-height: 100vh;
  }
  .sidebar-desc{
    justify-content: center;
    padding: 1.5em;
    border-bottom: 1px solid var(--less-light);
  }
  /* sidebar upper container  */
  .dashboard-img img{
    width: 100%;
  }
  .desc{
    align-items: center;
    margin-top: 1em;
    gap: 0.5em;
  }
  .desc p{
    text-align: center;
  }
  /* side navigation bar */
  .side-nav{
    padding: 2em 0;
  }
  .side-link{
    padding: 0.7em 1.5em;
    color: var(--grey);
    font-size: var(--title);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .side-link:hover{
    background-color: var(--less-light);
  }
  .side-link-active{
    border-left: 3px solid var(--active);
    background-color: var(--less-light);
  }