@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --light : #fff;
  --less-light : #f1f5f9;
  --grey : grey;
  --dark : rgb(62, 55, 90);
  --title : 0.8rem;
  --sub-title : 0.7rem;
  --active : rgb(70, 62, 175);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--less-light);
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
.items-center{
  align-items: center;
}
.gap-1{
  gap: 1em;
}
.gap-half{
  gap: 0.5em;
}
.flex-wrap{
  flex-wrap: wrap;
}
.w-full{
  width: 100%;
}
.bg-light{
  background-color: var(--light);
}
.main{
  display: flex;
}
.content-container{
  width: 100%;
}
.heading{
  color: var(--dark);
  font-size: var(--title);
}
.sub-title{
  color: var(--grey);
  font-size: var(--sub-title);
}
.font-small{
  font-size: var(--sub-title);
}
.font-title{
  font-size: var(--title);
}
.font-light{
  color: var(--grey);
}
.font-dark{
  color:var(--dark)
}
.mb-2{
  margin-bottom: 2em;
}
.mt-1{
  margin-top: 1em;
}
.rounded{
  border-radius: 7px;
}
.p-1{
  padding: 1em;
}
.p-half{
  padding: 0.5em;
}

.main-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
/* both sub container  */
.left-container, .right-container{
  background-color: var(--light);
  padding: 1.5em 1em;
  border-radius: 15px;
}
/* --left detail container--  */
.left-container{
  width: 100%;
}
 /* right detail container  */
 .right-container{
  flex: 1;
  gap: 1em;
  padding: 1.5em;
  min-width: 0px;
 }
@media screen and (min-width:750px) {
  .main-content{
    gap: 1em;
  }
  .left-container{
    width: 65%;
  }
  .right-container{
    min-width: 210px;
    height: fit-content;
  }
}

.bg-transparent{
  background-color: transparent;
}
a{
  text-decoration: none;
}