.card{
    width: 260px;
    border-radius: 5px;
    gap: 0.4em;
}
.review_label{
    font-size: 12px;
    font-weight: 600;
}
.review_detail{
    font-size: 12px;
}
.read_more{
    cursor: pointer;
}
.read_more:hover{
    color: blue;
}