.main_container{
    width: 100%;
}
.main_container, .helper_container{
    padding: 1.5em 1em;
}
@media screen and (min-width:850px) {
    .main_container{
        width: 65%;
    }
    .helper_container{
        min-width: 210px;
        height: fit-content;
    }
}
.subcontainer{
    padding: 1.5em 1em;
}